* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #eee;
}
h1 {
  font-size: 54px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: rgb(18, 48, 182);
}
img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
li {
  list-style: none;
}
.container{
  .content-wrap {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ccc;
    .content {
      margin: 50px;
      .head {
        text-align: center;
        padding: 30px 20px;
        .title >* {
          margin-bottom: 10px;
        }
        .img {
          margin-top: 30px;
        }
      }
      .body {
        padding-bottom: 40px;
        margin-top: 40px; 
        .title-s {
          font-size: 22px;
          color: #888;
          .season {
            height: 40px;
            width: 300px;
            margin-left: 40px;
            z-index: 1;
            .sea {
              float: left;
              width: 140px;
              text-align: center;
              height: 38px;
              border: 2px solid #999;
              margin-left: -2px;
              &:hover {
                cursor: pointer;
                color: #444;
              }
            }
            .active {
              color: #444;
              border-bottom-color: #ccc;
            }
          }
        }
        .items {
          border-top: 2px solid #999;
          margin-top: -4px;
          z-index: 0;
          .item {
            margin: 30px;
            padding-top: 10px; 
            height: 320px;
            position: relative;
            .item-left {
              position: absolute;
              .title {
                padding: 0 20px 20px;
              }
              .pic {
                width: 300px;
              }
            }
            .item-right {
              position: absolute;
              margin-left: 320px;
              margin-top: 42px;
              .subtitle {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                margin: 20px 0;
              }
              .desc {
                line-height: 26px;
                text-indent: 2em;
              } 
            }
            .link {
              position: absolute;
              right: 20px;
              bottom: 5px;
            }
          }
        }  
      }
    }
  }
}


.footer {
  background-color: #ddd;
  line-height: 50px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.box {
  position: fixed;
  top: 150px;
  right: 10px;
  .box-list {
    margin-bottom: 120px;
    .list-item {
      a {
        width: 30px;
        display: block;
        // border: 1x solid #ccc;
        text-align: center;
        margin: 10px auto;
        border-radius: 50%;
        color: #999;
        &:hover {
          color: #444;
        }
      }
    }
  }
  .box-backtop {
    width: 60px;
    display: none;
    opacity: 0.7;
    margin: 0 auto;
    i {
      font-size: 50px;
      color: #444;
    }
    &:hover {
      opacity: 1;
    }
  }
}