* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

h1 {
  font-size: 54px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #1230b6;
}

img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ccc;
}

.container .content {
  margin: 50px;
}

.container .content .head {
  text-align: center;
  padding: 30px 20px;
}

.container .content .head .title > * {
  margin-bottom: 10px;
}

.container .content .head .img {
  margin-top: 30px;
}

.container .content .body {
  padding-bottom: 40px;
  margin-top: 40px;
}

.container .content .body .title-s {
  font-size: 22px;
  color: #888;
}

.container .content .body .title-s .season {
  height: 40px;
  width: 300px;
  margin-left: 40px;
  z-index: 1;
}

.container .content .body .title-s .season .sea {
  float: left;
  width: 140px;
  text-align: center;
  height: 38px;
  border: 2px solid #999;
  margin-left: -2px;
}

.container .content .body .title-s .season .sea:hover {
  cursor: pointer;
  color: #444;
}

.container .content .body .title-s .season .active {
  color: #444;
  border-bottom-color: #ccc;
}

.container .content .body .items {
  border-top: 2px solid #999;
  margin-top: -4px;
  z-index: 0;
}

.container .content .body .items .item {
  margin: 30px;
  padding-top: 10px;
  height: 320px;
  position: relative;
}

.container .content .body .items .item .item-left {
  position: absolute;
}

.container .content .body .items .item .item-left .title {
  padding: 0 20px 20px;
}

.container .content .body .items .item .item-left .pic {
  width: 300px;
}

.container .content .body .items .item .item-right {
  position: absolute;
  margin-left: 320px;
  margin-top: 42px;
}

.container .content .body .items .item .item-right .subtitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.container .content .body .items .item .item-right .desc {
  line-height: 26px;
  text-indent: 2em;
}

.container .content .body .items .item .link {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.footer {
  background-color: #ddd;
  line-height: 50px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.box {
  position: fixed;
  top: 120px;
  right: 10px;
}

.box .box-list {
  margin-bottom: 140px;
}

.box .box-list .list-item {
  margin: 10px auto;
  overflow: hidden;
}

.box .box-list .list-item p {
  float: right;
  display: none;
  color: #555;
}

.box .box-list .list-item a {
  display: block;
  float: right;
  width: 10px;
  height: 10px;
  margin: 6px 8px;
  border-radius: 50%;
  background-color: #bbb;
}

.box .box-list .list-item a:hover {
  background: #444;
}

.box .box-backtop {
  position: absolute;
  right: 0px;
  width: 60px;
  display: none;
  opacity: 0.7;
}

.box .box-backtop i {
  font-size: 50px;
  color: #444;
}

.box .box-backtop:hover {
  opacity: 1;
}

.modal {
  display: none;
  overflow: hidden;
}

.modal .modal-close {
  position: absolute;
  right: 80px;
  font-size: 40px;
  z-index: 100;
  color: #eee;
  opacity: 0.6;
  cursor: pointer;
}

.modal .modal-close:hover {
  opacity: 1;
}

.modal .modal-content {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  z-index: 100;
  margin-left: -200px;
}

.modal .modal-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #999;
  opacity: 0.9;
  z-index: 10;
}
